@model IEnumerable<Paper>

@{
    ViewData["Title"] = "Author";
}

<h2>Your submitted papers</h2>

<form asp-action="Index" method="get">
    <div class="form-actions on-color">
        <p>
            Find: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Submit new paper</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleENGSortParam"]"> @Html.DisplayNameFor(model=> model.TitleENG) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorsSortParam"]"> @Html.DisplayNameFor(model => model.Authors)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.PaperKeywords)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReviewerSortParam"]"> @Html.DisplayNameFor(model => model.Reviewer)</a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParam"]"> @Html.DisplayNameFor(model => model.Status)</a>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeywordsToString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.ApplicationUser.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PaperId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
