@model ConFutureNce.Models.Paper

@{
    ViewData["Title"] = "DetailsReviewer";
}

<h2>Details</h2>

<div>
    <h4>Paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleENG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitleENG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TitleORG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitleORG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Authors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaperFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.ApplicationUser.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviewer.ApplicationUser.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaperId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Reviews" asp-route-id="@Model.PaperId" asp-action="Create">Add review</a>
</div>